.Card {
    border: 3px solid;
    border-radius: 10px ;
    overflow: hidden;
    margin: 10px;


    display: flex;  /* FlexBox */
    flex-direction: column; /* FlexBox */
    min-width: 500px; /* FlexBox */
    max-width: 500px; /* FlexBox */
}

.Card .Title {
    padding: 5px 0px;
    display: flex;
    justify-content: center;
}

.Card .Content {
    background-color: #ccc;
    color: black;
    padding: 10px;


    flex-grow: 1; /* FlexBox */
}